$primary-color: rgb(255, 136, 0);
.Chart{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
@media screen and (max-width: 500px){
    .Chart{
        width: 100vw;
        text-align: center;
    }

}